<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    {% for asset in _helper.asset([
    '+bower/bootstrap/css/bootstrap-sandstone.min.css'
    ], 'cssrewrite', 'bootstrap') %}
        <link rel="stylesheet" href="{{ asset }}">
    {% endfor %}

    <!--[if lt IE 9]>
    {% for asset in _helper.asset([
    '+bower/js/html5shiv.min.js',
    ], null, 'html5shiv') %}
    <script type="text/javascript" src="{{ asset }}"></script>
    {% endfor %}
    <![endif]-->

    {% for asset in _helper.asset([
    '+bower/css/site.css'
    ], 'cssrewrite', 'site') %}
        <link rel="stylesheet" href="{{ asset }}">
    {% endfor %}
    {% block headertag %}{% endblock %}
</head>
<body>
<div class="navbar navbar-default" id="mainmenu">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ _helper.url('PageView') }}" class="navbar-brand">Fwk</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

            <ul class="nav navbar-nav">
                {% set packs = packages.packages() %}
                {% for id, pkg in packs %}
                    <li{% if query.package is defined and id|lower == query.package|lower %} class="active"{% endif %}>
                        <a href="{{ _helper.url('PageView', {page: 'package/intro', package: id|lower}) }}" class="{{ id|lower }}"><span class="{{ pkg.icon }}"></span> {{ id }}</a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li{% if query.page == 'about' %} class="active"{% endif %}><a href="{{ _helper.url('PageView', {page: 'about'}) }}">About</a></li>
                <li{% if query.page == 'blog' %} class="active"{% endif %}><a href="{{ _helper.url('PageView', {page: 'blog'}) }}">Blog</a></li>
            </ul>
        </div>
    </div>
</div>

{% block contents %}{% endblock %}


{% for asset in _helper.asset([
'+bower/js/jquery-1.11.2.min.js',
'+bower/bootstrap/js/bootstrap.min.js'
], null, 'jq-bootstrap') %}
    <script type="text/javascript" src="{{ asset }}"></script>
{% endfor %}

{% block footertag %}{% endblock %}
</body>
</html>