{% macro link(className, type, package, version, _helper) %}
{% spaceless %}{{ _helper.url("PageView", {page: "package/apidoc-class", package: package, type: type, version: version, className: className|trim('\\')|replace({'\\': '/'})}, true)|raw }}{% endspaceless %}
{% endmacro %}

{% macro newlink(className, type, package, version, _helper) %}
    {% spaceless %}{{ _helper.apiurl(package, type, version, className|trim('\\')|replace({'\\': '/'}))|raw }}{% endspaceless %}
{% endmacro %}

{% macro listClasses(classes, type, package, version, active, _helper) %}
<ul class="nav nav-pills nav-stacked classes">
    {% for className, infos in classes %}
                <li{% if active == className|trim('\\')|replace({'\\': '/'}) %} class="active"{% endif %}><a href="{{ _self.link(className, type, package, version, _helper) }}">{{ className|trim('\\') }}</a></li>
    {% endfor %}
            </ul>{% endmacro %}

{% macro docblock(docblock, _helper) %}
    <p>{{ docblock.description|default('<i>no description</i>')|raw }}</p>
    {% if docblock.longDescription != '' and docblock.longDescription != docblock.description %}
     <p>{{ docblock.longDescription|default('<i>no description</i>')|raw }}</p>
    {% endif %}   
{% endmacro %}

{% macro classDoc(className, apidoc, type, package, version, _helper) %}
{% set class = apidoc.doc(package, className, type, version) %}
<h3>{% if class.abstract == 'true' %}Abstract {% endif %}
    {% if class.final == 'true' %}Final {% endif %}
    {% if type == 'class' %}<span id="apiType">Class</span> {% else %}<span id="apiType">Interface</span> {% endif %} 
    {{ _self.newlink(className, type, package, version, _helper) }}
</h3>
{% if class.extends != null %}<h4>&nbsp; &nbsp; &nbsp; &rBarr; extends {{ _self.newlink(class.extends, type, package, version, _helper) }}</h4>{% endif %}
{% for interface in class.implements %}
    <h4>&nbsp; &nbsp; &nbsp; {% if loop.first %} &rBarr; implements{% else %}&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;{% endif %} {{ _self.newlink(interface, "interface", package, version, _helper) }}</h4>
{% endfor %}
<hr />
{{ _self.docblock(class.docblock, _helper) }}

{% if class.methods|length %}
<h4 style="margin-top: 40px;"><a name="methods"></a>Methods</h4>
{% for method, infos in class.methods %} 
<div class="panel-group" id="accordion">
    <div class="panel panel-default" style="border-top:none;">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i>{{ infos.visibility }}</i>
                {% if infos.docblock.tags['return'] is defined %}
                    <span class="pull-right">
                        {{ _self.newlink(infos.docblock.tags['return'].type, "type", package, version, _helper) }}
                    </span>
                {% endif %}
                <a name="method-{{ method|lower }}" data-toggle="collapse" data-parent="method-{{ method|lower }}" href="#method-{{ method|lower }}">
                    <strong>{% if infos.static == 'true' %}{{ class.name }}::{% endif %}{{ method }}</strong>
                </a>({% for argument in infos.arguments %}{% if argument.type != null %}{{ _self.newlink(argument.type, "type", package, version, _helper) }} {% endif %}<u>{{ argument.name }}</u>{% if argument.default != null %} = {{argument.default}}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %})
            </h4>
        </div>
        <div id="method-{{ method|lower }}" class="panel-collapse collapse">
            <div class="panel-body" style="padding-bottom: 0;">
                {{ _self.docblock(infos.docblock, _helper) }}
                <div class="row" style="margin-top: 20px; border-top: solid 1px #eee; background-color: #FEFCFF;">
                    <div class="col col-md-8">
{% if infos.arguments|length > 0 %}
                        <h5>Arguments</h5>

                        <dl>
    {% for argument in infos.arguments %}
                            <dt>
                                <code>{{ argument.name }}</code> {% if argument.type != null %}<span style="font-weight: 100;">{{ _self.newlink(argument.type, "type", package, version, _helper) }}</span> {% endif %}
                            </dt>
                            <dd  style="margin-bottom: 20px; margin-top: 5px;">
                                {% if infos.docblock.params[argument.name] is defined %}
                                    {{ infos.docblock.params[argument.name].description|raw }}
                                {% else %}
                                    <p><i>no description</i></p>
                                {% endif %}
                                {% if argument.default != null %}
                                    <strong>Default</strong>: {{argument.default}}
                                {% endif %}
                            </dd>
                        </dl>
    {% endfor %}
{% endif %}
                    </div>
                    <div class="col col-md-4">
                        <h5>Return Type</h5>
                        <p style="margin-bottom:{% if infos.docblock.tags['return'].description is null %}20{% else %}5{% endif %}px;">{{ _self.newlink(infos.docblock.tags['return'].type, "type", package, version, _helper) }}</p>
                        {% if infos.docblock.tags['return'].description is not null %}
                            <p style="margin-bottom:20px;">{{ infos.docblock.tags['return'].description }}</p>
                        {% endif %}
{% if infos.docblock.throws|length > 0 %}
    <h5>Throws</h5>

    {% for throw in infos.docblock.throws %}
            <dt>
               <span style="font-weight: normal">{{ _self.newlink(throw.type, "type", package, version, _helper) }}</span>
            </dt>
            <dd  style="margin-bottom: 20px; margin-top: 5px;">
                {% if throw.description is not null %}
                    {{ throw.description|raw }}
                {% endif %}
            </dd>
            </dl>
    {% endfor %}
{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% if type == "class" and class.properties|length %}
<h4 style="margin-top: 40px;"><a name="properties"></a>Properties</h4>
<ul class="properties list-unstyled">
{% for property, infos in class.properties %}
    <li>
        <i>{{ infos.visibility }}</i> 
        {% if infos.docblock.tags['var'] is defined %}
            <span class="pull-right">{{ _self.newlink(infos.docblock.tags['var'].type, "type", package, version, _helper) }}</span>
        {% endif %}
        <strong><code>{% if infos.static == 'true' %}{{ class.name }}::{% endif %}{{ property }}</code></strong>
        {{ _self.docblock(infos.docblock, _helper) }}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if class.constants|length %}
<h4 style="margin-top: 40px;"><a name="constants"></a>Constants</h4>
<ul class="constants list-unstyled">
{% for name, infos in class.constants %}
<li>
    <code>{{ class.name }}::{{ name }}</code> = {{ infos.value|trim('\'"') }} 
    {{ _self.docblock(infos.docblock, _helper) }}
</li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}